<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>receiveEKeys</servlet-name>
        <servlet-class>receiveEKeys</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>get_keys</servlet-name>
        <servlet-class>get_keys</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>get_ekeys</servlet-name>
        <servlet-class>get_ekeys</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>receiveEKeys</servlet-name>
        <url-pattern>/receiveEKeys</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>get_keys</servlet-name>
        <url-pattern>/get_keys</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>get_ekeys</servlet-name>
        <url-pattern>/get_ekeys</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
